<%sum_info = search_sum%>
<table class="table">
  <thead>
    <tr class='text-center'>
      <th class="first">序号</th>
      <th class='bill_date'>票据日期</th>
      <th class='bill_no'>票号</th>
      <th class='goods_no'>货号</th>
      <th class='from_to'>发货地~到货地</th>
      <th class='customer'>发货人~收货人</th>
      <th class='paytype'>付款方式</th>
      <th class="carrying_fee">运费</th>
      <th class="carrying_fee_th hide">提付运费</th>
      <th class="goods_fee">代收货款</th>
      <th class="k_hand_fee hide">扣手续费</th>
      <th class="k_carrying_fee hide">扣运费</th>
      <th class="act_pay_fee hide">实提货款</th>
      <th class="insured_fee">保价费</th>
      <th class="transit_fee hide">转货费</th>
      <th class="transit_carrying_fee hide">中转运费</th>
      <th class="total_transit_carrying_fee hide">中转运费</th>
      <th class="transit_hand_fee hide">中转手续费</th>
      <th class="agent_carrying_fee hide">代收运费</th>
      <th class="commission hide">提成</th>
      <th class="goods_weight hide">重量</th>
      <th class="unit_price_weight hide">单价</th>
      <th class="weight_fee hide">费用</th>
      <th class="send_fee hide">送货费</th>
      <th class="profit hide">利润</th>
      <th class="profit_weight hide">利润</th>

      <th class='transit_bill_no hide'>中转票号</th>
      <th class='transit_company hide'>中转公司</th>
      <th class="th_amount hide">提货应收</th>
      <th class="from_short_carrying_fee hide">发货地短途运费</th>
      <th class="to_short_carrying_fee hide">到货地短途运费</th>
      <th class='note'>备注</th>
      <th class='state'>状态</th>
      <th class='short_fee_state hide'>短途运费状态</th>
      <th class='stranded_days hide'>滞留天数</th>
    </tr>
  </thead>
  <tbody>
    <% @search.all(:include => [:from_org,:to_org,:transit_org,:user]).each_with_index do |bill,index| %>
      <tr class="<%= cycle("odd", "even") %>" >
        <td>
          <%= index + 1 %>
        </td>
        <td class='bill_date'>
          <%=bill.bill_date.strftime('%y-%m-%d')%>
        </td>
        <td class='bill_no'>
          &nbsp;<%=bill.bill_no%>
        </td>
        <td class='goods_no'>
          &nbsp;<%=bill.goods_no%>
        </td>
        <td class='from_to'>
          <%=bill.from_org_name%>~<%=["TransitBill","HandTransitBill","KidsTransitBill"].include?(bill.type) ? "#{bill.transit_org.name}~#{bill.to_area}" : bill.to_org_name%>
        </td>
        <td class='customer'>
          <%=bill.from_customer_name%>
          ~
          <%=bill.to_customer_name%>
        </td>
        <td class='paytype'>
          <%=pay_type_des(bill.pay_type) %>
        </td>
        <td class="carrying_fee">
          <%=bill.carrying_fee %>
        </td>
        <td class="carrying_fee_th hide">
          <%=bill.carrying_fee_th %>
        </td>
        <td class="goods_fee">
          <%=bill.goods_fee %>
        </td>
        <td class="k_hand_fee hide"><%=bill.k_hand_fee%></td>
        <td class="k_carrying_fee hide"><%= bill.k_carrying_fee %></td>
        <td class="act_pay_fee hide"><%= bill.act_pay_fee %></td>
        <td class="insured_fee"><%=bill.insured_fee%></td>

        <td class="transit_fee hide"><%=bill.transit_fee%></td>
        <td class="transit_carrying_fee hide"><%=bill.transit_carrying_fee%></td>
        <td class="total_transit_carrying_fee hide"><%=bill.total_transit_carrying_fee%></td>
        <td class="transit_hand_fee hide"><%=bill.transit_hand_fee%></td>
        <td class="agent_carrying_fee hide"><%=bill.agent_carrying_fee%></td>

        <td class="commission hide"><%= bill.commission %></td>
        <td class="goods_weight hide"><%= bill.goods_weight %></td>
        <td class="unit_price_weight hide"><%= bill.unit_price_weight%></td>
        <td class="weight_fee hide"><%=bill.weight_fee%></td>
        <td class="send_fee hide"><%=bill.send_fee%></td>
        <td class="profit hide"><%=bill.profit%></td>
        <td class="profit_weight hide"><%= bill.profit_weight%></td>


        <td class='transit_bill_no hide'><%=bill.transit_bill_no%></td>
        <td class='transit_company hide'><%=bill.transit_info.try(:transit_company)%></td>
        <td class="th_amount hide"><%=bill.th_amount%></td>
        <td class="from_short_carrying_fee hide"><%= bill.from_short_carrying_fee %></td>
        <td class="to_short_carrying_fee hide"><%= bill.to_short_carrying_fee %></td>
        <td class="note">
          <div style='width : 50px;height : 30px;overflow : hidden;'>
            <%= bill.note %>
          </div>
        </td>
        <td class="state"><%= bill.human_state_name %></td>
        <td class="short_fee_state hide"><%= bill.human_short_fee_state_name %></td>
        <td class='stranded_days hide'><%=bill.stranded_days%>天</td>
      </tr>
    <% end -%>
  </tbody>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td class='bill_date'>&nbsp;</td>
      <td class='bill_no'>&nbsp;</td>
      <td class='goods_no'>&nbsp;</td>
      <td class='from_to'>&nbsp;</td>
      <td class='customer'>总计</td>
      <td class='paytype'><%=sum_info[:count]%>票</td>
      <td class="carrying_fee"><%=sum_info[:sum_carrying_fee]%></td>
      <td class="carrying_fee_th hide"><%=sum_info[:sum_carrying_fee_th]%></td>
      <td class="goods_fee"><%=sum_info[:sum_goods_fee]%></td>
      <td class="k_hand_fee hide"><%=sum_info[:sum_k_hand_fee]%></td>
      <td class="k_carrying_fee hide"><%= sum_info[:sum_k_carrying_fee] %></td>
      <td class="act_pay_fee hide"><%= sum_info[:sum_act_pay_fee] %></td>
      <td class="insured_fee"><%=sum_info[:sum_insured_fee]%></td>

      <td class="transit_fee hide"><%=sum_info[:sum_transit_fee] %></th>
      <td class="transit_carrying_fee hide"><%=sum_info[:sum_transit_carrying_fee]%></td>
      <td class="total_transit_carrying_fee hide"><%=sum_info[:sum_total_transit_carrying_fee]%></td>
      <td class="transit_hand_fee hide"><%=sum_info[:sum_transit_hand_fee]%></td>
      <td class="agent_carrying_fee hide"><%=sum_info[:sum_agent_carrying_fee]%></td>

      <td class="commission hide"><%=sum_info[:sum_commission]%></td>
      <td class="goods_weight hide"><%=sum_info[:sum_goods_weight] %></td>
      <td class="unit_price_weight hide">&nbsp;</td>
      <td class="weight_fee hide"><%=sum_info[:sum_weight_fee]%></td>
      <td class="send_fee hide"><%= sum_info[:sum_send_fee] %></td>
      <td class="profit hide"><%=sum_info[:sum_profit]%></td>
      <td class="profit_weight hide"><%= sum_info[:sum_profit_weight]%></td>


      <td class='transit_bill_no hide'>&nbsp;</td>
      <td class='transit_company hide'>&nbsp;</td>
      <td class="th_amount hide"><%=sum_info[:sum_th_amount]%></td>
      <td class="from_short_carrying_fee hide"><%= sum_info[:sum_from_short_carrying_fee] %></td>
      <td class="to_short_carrying_fee hide"><%= sum_info[:sum_to_short_carrying_fee] %></td>
      <td class='note'>&nbsp;</td>
      <td class='state'>&nbsp;</td>
      <td class='short_fee_state hide'>&nbsp;</td>
      <td class='stranded_days hide'>&nbsp;</td>
    </tr>
  </tfoot>
</table>
