<%= semantic_form_for resource,:validate=> false,:remote=> true,:html => {:id => "carrying_bill_form",:class => "wat-cf carrying_bill #{get_bill_update_class(resource)}"} do |f|%>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id,:value => current_user.id if f.object.new_record?%>
  <%= f.hidden_field :original_bill_id%>
  <table class='table'>
    <tr>
      <td>单据编号</td>
      <td><%= f.text_field :bill_no,:size => 20,:id => :bill_no %></td>
      <td>货号</td>
      <td><%= f.text_field :goods_no,:size => 20,:id => :goods_no %></td>
      <td>单据日期</td>
      <td><%= f.text_field :bill_date,:class => "datepicker",:size => 10 ,:readonly => true,:id => :bill_date %></td>
    </tr>
    <tr>
      <td>发货站</td>
      <td><%= f.select :from_org_id,current_ability_orgs_for_select,{},:id => :from_org_id %></td>
      <% if ["TransitBill","HandTransitBill","KidsTransitBill","HandKidsTransitBill"].include? f.object.type %>
        <td>中转站</td>
        <td><%= f.select :transit_org_id,yards_for_select,{},:id => :transit_org_id %></td>
        <td>到货地</td>
        <td><%= f.text_field :to_area,:size => 20,:id => :to_area %></td>
      <%else%>
        <td>到货站</td>
        <td><%= f.select :to_org_id,exclude_current_ability_orgs_for_select ,{:include_blank => true},:class => 'select_org',:id => :to_org_id %></td>
        <td colspan='2' style='color : blue;'>&lt;&lt;录入拼音回车查询到货地</td>
      <%end%>
    </tr>
    <tr>
      <td>发货人</td>
      <td><%= f.text_field :from_customer_name,:id => 'from_customer_name',:size => 20  %></td>
      <td>电话</td>
      <td><%= f.text_field :from_customer_phone,:id => 'from_customer_phone',:size => 20  %></td>
      <td>手机</td>
      <td><%= f.text_field :from_customer_mobile,:id => 'from_customer_mobile',:size => 20  %></td>
    </tr>
    <tr>
      <td>收货人</td>
      <td><%= f.text_field :to_customer_name,:id => 'to_customer_name',:size => 20  %></td>
      <td>电话</td>
      <td><%= f.text_field :to_customer_phone,:id => 'to_customer_phone',:size => 20  %></td>
      <td>手机</td>
      <td><%= f.text_field :to_customer_mobile,:id => 'to_customer_mobile',:size => 20  %></td>
    </tr>
    <tr>
      <td>运费支付方式</td>
      <td><%= f.select :pay_type,CarryingBill.pay_types,{},:id => :pay_type %></td>
      <td colspan='4'>&nbsp;</td>
    </tr>
    <tr>
      <td>重量</td>
      <td>
        <%= f.text_field :goods_weight,:size => 10,:id => :goods_weight  %>公斤
        <%if ["KidsTransitBill"].include? f.object.type %>
          *<%= f.text_field :unit_price_weight,:size => 2  %>元/公斤(转货费单价)
        <%end%>
      </td>
      <td>运费单价</td>
      <td><%= f.text_field :unit_carrying_fee_price,:id => "unit_carrying_fee_price",:size => 15  %></td>
      <td>运费</td>
      <td><%= f.text_field :carrying_fee,:id => "carrying_fee",:size => 15  %></td>
    </tr>
    <tr>
      <td>代收货款</td>
      <td colspan='3'><%= f.text_field :goods_fee,:id => "goods_fee",:size => 15  %></td>
      <%if ["KidsTransitBill","HandKidsTransitBill"].include? f.object.type %>
        <td>转货费</td>
        <td><%= f.text_field :transit_fee,:id => "transit_fee",:size => 15  %></td>
      <%else%>
        <td colspan='2'>&nbsp;</td>
      <%end %>

    </tr>

    <tr>
      <td>保价金额</td>
      <td><%= f.text_field :insured_amount,:id => "insured_amount",:size => 15  %></td>
      <td>保价比例</td>
      <td>
        <%= f.text_field :insured_rate_disp,:id => "insured_rate",:readonly => true,:size => 15  %>‰
        <%= f.hidden_field :insured_rate%>
      </td>
      <td>保价费</td>
      <td><%= f.text_field :insured_fee,:id => "insured_fee",:readonly => true,:size => 15 %></td>
    </tr>
    <tr>
      <td>运费总计</td>
      <td><span id='sum_carrying_fee'></span></td>
      <td>总计</td>
      <td><span id='sum_fee'></span></td>
      <td colspan='2'></td>
    </tr>
    <tr>
      <td>货物名称</td>
      <td colspan='3'>
        <%= f.select :goods_info,goods_infos_for_select,{:include_blank => true},:autocomplete => :on,:id => :goods_info,:class => "select_goods_info" %>
        <%= f.text_field :goods_info,:size => 15,:class => "txt_goods_info", :style => "display: none;"%>
      </td>
      <td>包装</td>
      <td><%= f.text_field :package,:size => 15,:id => :package%></td>

    </tr>
    <tr>
      <td>数量</td>
      <td><%= f.text_field :goods_num,:size => 15,:id => :goods_num %></td>
      <td>体积</td>
      <td><%= f.text_field :goods_volume,:size => 15  %></td>
      <td colspan='2'>&nbsp;</td>
    </tr>
    <%unless f.object.new_record?%>
      <tr>
        <td>扣手续费</td>
        <td><%= f.text_field :k_hand_fee,:size => 10,:id => :k_hand_fee %></td>
        <td>中转手续费</td>
        <td>
          <%= f.text_field :transit_hand_fee,:size => 10,:id => :transit_hand_fee %>
        </td>
        <td>中转运费</td>
        <td><%= f.text_field :transit_carrying_fee,:size => 10,:id => :transit_carrying_fee  %></td>
      </tr>
      <tr>
        <td>转货费</td>
        <td><%= f.text_field :transit_fee,:size => 10,:id => :transit_fee %></td>
        <td>代收运费</td>
        <td>
          <%= f.text_field :agent_carrying_fee,:size => 10,:id => :agent_carrying_fee %>
        </td>
        <td>送货费</td>
        <td><%= f.text_field :send_fee,:size => 10,:id => :send_fee  %></td>
      </tr>

    <%end%>

    <tr>
      <td>备注</td>
      <td colspan='5'><%= f.text_field :note,:size => 100,:id => :note %></td>
    </tr>
  </table>
<%end%>
