<table class="table" style="border: 1px solid #000;">
  <tr>
    <th style="border: 1px solid #000;">序号</th>
    <th style="border: 1px solid #000;">日期</th>
    <th style="border: 1px solid #000;">机构</th>
    <th style="border: 1px solid #000;">车牌号</th>
    <th style="border: 1px solid #000;">运费</th>
  </tr>
  <% @search.all.each do |vf| %>
    <% vf.vehicle_fee_lines.each_with_index do |line,i|  %>
      <tr>
        <td style="border: 1px solid #000;"><%= i + 1 %></td>
        <td style="border: 1px solid #000;"><%= vf.fee_date %></td>
        <td style="border: 1px solid #000;"><%= vf.org %></td>
        <td style="border: 1px solid #000;"> <%= line.v_no %></td>
        <td style="border: 1px solid #000;"><%= line.load_fee %></td>
      </tr>
    <% end %>
  <% end %>
  <tfoot>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000;">合计:</td>
      <td style="border: 1px solid #000;"><%= @search.all.to_a.sum(&:sum_vehicle_count) %>车.次</td>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000;"><%= @search.all.to_a.sum(&:sum_load_fee) %></td>
    </tr>
  </tfoot>
</table>
