<%= semantic_form_for resource, :html => {:id => "vehicle_fee_form"} do |f|%>
  <%= f.error_messages %>
  <table class="table">
    <tr>
      <th>日期:</th>
      <th>
        <%= f.input :fee_date,:as => :string,:label => false,:input_html =>{:readonly => true,:size => 20,:class => 'datepicker'} %>
      </th>
      <th>机构:</th>
      <th>
        <%= f.input :org_id,:as => :select,:label => false, :collection => current_ability_orgs_for_select,:include_blank => false,:input_html => {:id => "org_id"} %>
      </th>
      <th>操作员:</th>
      <th>
        <%= f.hidden_field :user_id,:value => current_user.id if f.object.new_record?%>
        <%= current_user %>
      </th>
    </tr>
  </table>
  <table class="table">
    <tr>
      <% if can? :edit_to_org,VehicleFee %>
        <th>到货地</th>
      <% else %>
        <th></th>
      <% end %>
      <th>车牌号</th>
      <th>金额</th>
      <th>备注</th>
    </tr>
    <% f.semantic_fields_for :vehicle_fee_lines do |f_line| %>
      <tr>
        <% if can? :edit_to_org,VehicleFee %>
          <td>
            <%= f_line.input :to_org_id,:as => :select,:label => false, :collection => exclude_current_ability_orgs_for_select,:include_blank => false,:input_html => {:id => "org_id"} %>
          </td>
        <% else %>
          <td>
          </td>
        <% end %>
        <td>
          <%= f_line.input :v_no,:label => false %>
        </td>
        <td>
          <%= f_line.input :load_fee,:label => false %>
        </td>
        <td>
          <%= f_line.input :note,:as => :string,:label => false %>
        </td>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
