<table class="table">
  <tr>
    <th>日期:</th>
    <th>
      <%= resource.fee_date %>
    </th>
    <th>机构:</th>
    <th>
      <%= resource.org %>
    </th>
    <th>操作员:</th>
    <th>
      <%= resource.user %>
    </th>
  </tr>
</table>
<table class="table">
  <tr>
    <th>序号</th>
    <% if can? :edit_to_org,VehicleFee %>
      <th>到货地</th>
    <% else %>
      <th></th>
    <% end %>
    <th>车牌号</th>
    <th>金额</th>
    <th>备注</th>
  </tr>
  <% resource.vehicle_fee_lines.each_with_index do |line,i| %>
    <tr>
      <td><%= i+1 %></td>
      <% if can? :edit_to_org,VehicleFee %>
        <td>
          <%= line.to_org %>
        </td>
      <% else %>
        <td>
        </td>
      <% end %>
      <td>
        <%= line.v_no %>
      </td>
      <td>
        <%= line.load_fee %>
      </td>
      <td>
        <%= line.note %>
      </td>
    </td>
  </tr>
<% end %>
<tfoot>
  <tr>
    <td></td>
    <td>合计</td>
    <td><%= "共#{resource.sum_vehicle_count}车.次" %></td>
    <td><%= resource.sum_load_fee %></td>
    <td></td>
  </tr>
</tfoot>
</table>
