<table class="table" style="border: 1px solid #000;">
  <tr>
    <th style="border: 1px solid #000;">序号</th>
    <th style="border: 1px solid #000;">日期</th>
    <th style="border: 1px solid #000;">机构</th>
    <th style="border: 1px solid #000;">费用类别</th>
    <th style="border: 1px solid #000;">说明</th>
    <th style="border: 1px solid #000;">金额</th>
    <th style="border: 1px solid #000;">备注</th>
  </tr>
  <% @search.all.each_with_index do |fi,i| %>
    <% fi.fee_info_lines.each_with_index do |line,j|  %>
      <tr>
        <td style="border: 1px solid #000;"><%= (i+1)*j + 1 %></td>
        <td style="border: 1px solid #000;"><%= fi.fee_date %></td>
        <td style="border: 1px solid #000;"><%= fi.org %></td>
        <td style="border: 1px solid #000;"><%= line.fee_type_des %></td>
        <td style="border: 1px solid #000;"><%= line.fee_note %></td>
        <td style="border: 1px solid #000;"><%= line.fee%></td>
        <td style="border: 1px solid #000;"><%= line.note %></td>
      </tr>
    <% end %>
  <% end %>
  <tfoot>
    <tr>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000;"></td>
      <td style="border: 1px solid #000;">合计:</td>
      <td style="border: 1px solid #000;"><%= @search.all.to_a.sum(&:sum_fee) %></td>
      <td style="border: 1px solid #000;"></td>
    </tr>
  </tfoot>
</table>
