<table class="table">
  <tr>
    <th>日期:</th>
    <th>
      <%= resource.fee_date %>
    </th>
    <th>机构:</th>
    <th>
      <%= resource.org %>
    </th>
    <th>操作员:</th>
    <th>
      <%= resource.user %>
    </th>
  </tr>
</table>
<table class="table">
  <tr>
    <th>序号</th>
    <th>费用类别</th>
    <th>说明</th>
    <th>金额</th>
    <th>备注</th>
  </tr>
  <% resource.fee_info_lines.each_with_index do |line,i| %>
    <tr>
      <td><%= i+1 %></td>
      <td>
        <%= line.fee_type_des %>
      </td>
      <td>
        <%= line.fee_note %>
      </td>
      <td>
        <%= line.fee %>
      </td>
      <td>
        <%= line.note %>
      </td>
    </td>
  </tr>
<% end %>
<tfoot>
  <tr>
    <td></td>
    <td>合计</td>
    <td></td>
    <td><%= resource.sum_fee %></td>
    <td></td>
  </tr>
</tfoot>
</table>
