<table class="table">
  <tr>
    <th>月份:</th>
    <th><%= resource.mth %></th>
    <th>操作员:</th>
    <th><%= resource.user %></th>
  </tr>
</table>
<table class="table">
  <tr>
    <th>分公司</th>
    <th>返程收入</th>
    <th>&nbsp;</th>
    <th>总运费</th>
    <th>提成</th>
    <th>保险费</th>
    <th style='color: red;'>合计</th>
  </tr>
  <% resource.mth_settlement_lines.each do |msl| %>
    <tr>
      <th>
        <%= msl.org %>
      </th>
      <td>
        <%= msl.to_carrying_fee %>
      </td>
      <td>&nbsp;</td>
      <td>
        <%= msl.to_carrying_fee %>
      </td>
      <td>
        <%= msl.commission_fee %>
      </td>
      <td>
        <%= msl.insured_fee %>
      </td>
      <td><span class="sum_line" style='color: red;'><%= msl.sum_income %></span></td>
    </td>
  </tr>
<% end %>
<tfoot>
  <tr>
    <td>合计:</td>
    <td><span class="sum_to_carrying_fee"><%= resource.sum_to_carrying_fee %></span></td>
    <td><span class="">&nbsp;</span></td>
    <td><span class="sum_from_carrying_fee"><%= resource.sum_from_carrying_fee %></span></td>
    <td><span class="sum_commission_fee"><%= resource.sum_commission_fee %></span></td>
    <td><span class="sum_insured_fee"><%= resource.sum_insured_fee %></span></td>
    <td><span class="sum_total"><%= resource.sum_income %></span></td>
  </tr>
</tfoot>
</table>
